@import '../../color.scss';

.Modal{    
    position: absolute;
    top: 0;    
    left: 0;
    width: 100%;
    height: 100%;  
    display: none;
    justify-content: center;
    align-items: center;
    .Modal--bg{
        opacity: 0.3;    
        background-color: $gray;
        width: 100%;
        height: 100%;        
    }
    .Modal--panel{
        width: 300px;
        height: 200px;    
        position: absolute;
        background-color: $white;    
        border-radius: 5px;
        .Panel--header{
            padding: 10px;
            color: $white;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        .Panel--header--success{
            background-color:$red;
        }
        .Panel--header--error{
            background-color:$gray;
        }
        .Panel--body{
            padding: 10px;
            .message{
                padding: 10px;
            }
        }
    }
    .loading{
        padding: 35px;
        background-image:url('./126.gif') ;
        background-repeat: no-repeat;
        position: absolute;
    }
}
.Modal--open{
    display: flex;
}
