@import '../../color.scss';
.Button{
    padding: 15px 25px;
    background-color:$red;
    float: right;    
    color: $white;
    border-radius: 0;
    cursor: pointer;
    border: 1px solid;
    
    &:hover{
        color:$red;
        background-color :$white;
    }
}